
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.95px;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fafafc;
  color: #231e43
}


body button:focus,
body input:focus,
body select:focus,
body textarea:focus {
  outline: none;
}

#app {
  background: #ffffff;
  box-shadow: 5px 5px #cccccc45;
  padding: 16px;
}

.getting-started {
  width: 100%;
  max-width: 340px;
  padding: 15px;
  margin: 0 auto;
  .title {
    font-size: 32px;
    font-weight: bold;
  }
  & > .description, & > .registration-status {
    color: #767385;
  }
  & > .registration-status { 
    font-size: 80%;
    span {
      font-weight: bold;
    }
    .success { 
      color: #82c91e;
    }
  }
}

.modal-full {
  min-width: 100%;
  margin: 0;
}

.indicator {
  .nav.nav-tabs {
    text-align: left;
    border: none;
  }
  .nav-tabs .nav-item {
    padding: 16px 0;
    .active {
      border: none;
      background: none;
      i {
        font-weight: bold;
      }
    }
  }
}